amqp==5.3.1 ; python_full_version == "3.10.13"
appnope==0.1.4 ; sys_platform == "darwin" and python_full_version == "3.10.13"
asgiref==3.8.1 ; python_full_version == "3.10.13"
asttokens==3.0.0 ; python_full_version == "3.10.13"
async-timeout==5.0.1 ; python_full_version == "3.10.13"
backcall==0.2.0 ; python_full_version == "3.10.13"
billiard==4.2.1 ; python_full_version == "3.10.13"
celery==5.5.3 ; python_full_version == "3.10.13"
celery[redis]==5.5.3 ; python_full_version == "3.10.13"
certifi==2025.6.15 ; python_full_version == "3.10.13"
cffi==1.17.1 ; platform_python_implementation != "PyPy" and python_full_version == "3.10.13"
charset-normalizer==3.4.2 ; python_full_version == "3.10.13"
click-didyoumean==0.3.1 ; python_full_version == "3.10.13"
click-plugins==1.1.1.2 ; python_full_version == "3.10.13"
click-repl==0.3.0 ; python_full_version == "3.10.13"
click==8.2.1 ; python_full_version == "3.10.13"
colorama==0.4.6 ; python_full_version == "3.10.13" and (sys_platform == "win32" or platform_system == "Windows")
cron-descriptor==1.4.5 ; python_full_version == "3.10.13"
cryptography==45.0.2 ; python_full_version == "3.10.13"
decorator==5.2.1 ; python_full_version == "3.10.13"
diff-match-patch==20241021 ; python_full_version == "3.10.13"
django-appconf==1.1.0 ; python_full_version == "3.10.13"
django-celery-beat==2.8.1 ; python_full_version == "3.10.13"
django-cors-headers==4.6.0 ; python_full_version == "3.10.13"
django-cryptography==1.1 ; python_full_version == "3.10.13"
django-extensions==4.1 ; python_full_version == "3.10.13"
django-filter==24.3 ; python_full_version == "3.10.13"
django-import-export==4.3.9 ; python_full_version == "3.10.13"
django-postgres-extra==2.0.9 ; python_full_version == "3.10.13"
django-redis==5.0.0 ; python_full_version == "3.10.13"
django-timezone-field==7.1 ; python_full_version == "3.10.13"
django==5.2.2 ; python_full_version == "3.10.13"
djangorestframework-simplejwt==5.4.0 ; python_full_version == "3.10.13"
djangorestframework==3.15.2 ; python_full_version == "3.10.13"
executing==2.2.0 ; python_full_version == "3.10.13"
gunicorn==23.0.0 ; python_full_version == "3.10.13"
idna==3.10 ; python_full_version == "3.10.13"
ipython==8.10.0 ; python_full_version == "3.10.13"
jedi==0.19.2 ; python_full_version == "3.10.13"
kombu==5.5.4 ; python_full_version == "3.10.13"
kombu[redis]==5.5.4 ; python_full_version == "3.10.13"
matplotlib-inline==0.1.7 ; python_full_version == "3.10.13"
packaging==25.0 ; python_full_version == "3.10.13"
paho-mqtt==1.6.1 ; python_full_version == "3.10.13"
parso==0.8.4 ; python_full_version == "3.10.13"
pexpect==4.9.0 ; sys_platform != "win32" and python_full_version == "3.10.13"
pickleshare==0.7.5 ; python_full_version == "3.10.13"
prompt-toolkit==3.0.51 ; python_full_version == "3.10.13"
psycopg2-binary==2.9.6 ; python_full_version == "3.10.13"
ptyprocess==0.7.0 ; sys_platform != "win32" and python_full_version == "3.10.13"
pure-eval==0.2.3 ; python_full_version == "3.10.13"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_full_version == "3.10.13"
pygments==2.19.1 ; python_full_version == "3.10.13"
pyjwt==2.10.1 ; python_full_version == "3.10.13"
python-crontab==3.2.0 ; python_full_version == "3.10.13"
python-dateutil==2.9.0.post0 ; python_full_version == "3.10.13"
python-dotenv==1.0.0 ; python_full_version == "3.10.13"
redis==5.2.1 ; python_full_version == "3.10.13"
requests==2.31.0 ; python_full_version == "3.10.13"
six==1.17.0 ; python_full_version == "3.10.13"
sqlparse==0.5.3 ; python_full_version == "3.10.13"
stack-data==0.6.3 ; python_full_version == "3.10.13"
tablib==3.8.0 ; python_full_version == "3.10.13"
tenacity==8.2.3 ; python_full_version == "3.10.13"
traitlets==5.14.3 ; python_full_version == "3.10.13"
typing-extensions==4.13.2 ; python_full_version == "3.10.13"
tzdata==2025.2 ; python_full_version == "3.10.13"
urllib3==2.5.0 ; python_full_version == "3.10.13"
vine==5.1.0 ; python_full_version == "3.10.13"
wcwidth==0.2.13 ; python_full_version == "3.10.13"
